@import '../../colors';
@import '../../mixins';

#FooterComponent {
  color: #ffffff;
  .footer-first-wrapper {
    background-color: #0e0e0e;
  }
  .footer-first-icon-text-wrapper {
    display: flex;
    @include font-size(14);
  }
  .footer-first-icon {
    width: 45px;
    text-align: center;
    color: #777777;
  }
  .footer-first-text {
    line-height: 1.5rem;
    color: #777777;
    &-phone {
      color: #ffffff;
      @include font-size(16);
    }
    a {
      color: $sushi;
    }
  }
  .footer-second-wrapper {
    background-color: #060606;
  }
}