@import '../../colors';
@import '../../mixins';

#FooterComponent {
  color: #ffffff;
  .footer-first-wrapper {
    background-color: $god-gray;
    padding-top: 25px;
    padding-bottom: 25px;
    h4 {
      margin-left: 15px;
      color: #ffffff;
    }
  }
  .footer-first-icon-text-wrapper {
    display: flex;
    @include font-size(14);
  }
  .footer-first-icon {
    min-width: 45px;
    text-align: center;
    color: $boulder;
    @include line-height(24);
  }
  .footer-first-text {
    @include line-height(24);
    color: $boulder;
    &-phone {
      color: #ffffff;
      @include font-size(16);
    }
    a {
      color: #ffffff;
    }
  }
  .footer-first-link {
    color: #ffffff;
    cursor: pointer;
  }
  .footer-second-wrapper {
    background-color: $cod-gray;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer-second-logo-info-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
  }
  .footer-second-logo {
    min-width: 90px;
  }
  .footer-second-info {
    color: $boulder;
  }
  .footer-second-links-wrapper {
    display: flex;
    justify-content: flex-end;
    p {
      border-right: 1px solid $emperor;
      margin-right: 10px;
      padding-right: 10px;
      a {
        color: #ffffff;
      }
    }
    p:last-child {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

// =============================================================================
// Large Devices, Wide Screens
// =============================================================================

@media only screen and (max-width: 1200px) {
  #FooterComponent {
    .footer-second-logo {
      display: none;
    }
    .footer-second-links-wrapper {
      justify-content: flex-start;
      margin-left: 15px;
    }
  }
}

// =============================================================================
// Medium Devices, Desktops
// =============================================================================

@media only screen and (max-width: 992px) {

}

// =============================================================================
// Small Devices, Tablets
// =============================================================================

@media only screen and (max-width: 768px) {
}

// =============================================================================
// Extra Small Devices, Phones
// =============================================================================

@media only screen and (max-width: 480px) {
}

// =============================================================================
// Extra Small Devices, Phones
// =============================================================================

@media only screen and (max-width: 320px) {
}