#CooperationPage .cooperation-description p {
  margin-bottom: 20px; }

#CooperationPage .cooperation-description-paragraph-lead {
  font-size: 1.3125rem;
  font-weight: 200;
  line-height: 1.9375rem; }
