#Benefits {
  padding: 50px 0; }
  #Benefits .title {
    text-align: center;
    font-size: 1.9375rem; }
  #Benefits .benefits-list {
    padding-top: 40px;
    background-color: #f4f4f4; }
  #Benefits .benefit p {
    font-size: 1.125rem; }
  #Benefits .clients-list {
    position: relative;
    padding: 40px 0 15px 0; }
    #Benefits .clients-list:after {
      content: '';
      display: inline-block;
      width: 75%;
      height: 2px;
      position: absolute;
      background: linear-gradient(to right, rgba(237, 237, 237, 0), #ededed, rgba(237, 237, 237, 0));
      top: 100%;
      left: 50%;
      transform: translateX(-50%); }
  #Benefits .client {
    color: #060606; }
  #Benefits .client-icon {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  #Benefits .animate-number {
    font-size: 3.375rem;
    font-weight: 700; }
  #Benefits .client-text {
    font-size: 1.25rem; }
  #Benefits .svg-inline--fa {
    font-size: 2.1875rem; }
