@import '../../colors';
@import '../../mixins';

#TopPanelComponent {
  @include font-size(13);

  .btn-link, a {
    color: $god-gray;
    &:hover {
      text-decoration: none;
    }
  }
  .btn-link {
    border-radius: 4px;
    transition: background-color 0.35s linear;
    &:hover {
      background-color: $sushi1;
    }
  }
  .top-panel {
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .dropdown-menu {
    width: 100%;
  }
  .phone {
    padding-left: 15px;
    @include font-size(21);
  }
  #menu-dropdown {
    background-color: $sushi1;
  }
  .dropdown-menu {
    a:focus {
      outline: none;
    }
  }
  .top-panel-link {
    display: block;
    padding: 5px 5px 5px 13px;
    &:hover {
      background-color: $gallery;
    }
  }
}