#HeaderComponent {
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }

  .header-wrapper {
    background: #fff url('baner-gl-006.jpg') 0 0 no-repeat;
  }
}