@import '../../colors';
@import '../../mixins';
@import '../../media-queries';

#FencingSystemPage{
  .fencing-system-carousel {
    margin-bottom: 25px;
    .container-fluid {
      padding: 0;
    }
  }
  .fencing-system-colors {
    background: #dbdbdb linear-gradient(to top, #a8acab 2.1%, #e5e4df 100%, #a09fa1);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    min-height: 400px;
    padding: 25px 0 25px 0;
    margin-bottom: 25px;
    h1 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 60px;
    }
  }
  .fencing-system-colors-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .fencing-system-colors-image-text-wrapper {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .fencing-system-colors-text {
    text-align: center;
    @include font-size(12);
  }
  .fencing-system-colors-parameters-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    margin-bottom: 5px;
    @include font-size(20);
  }
  .fencing-system-colors-parameters-key {
    font-weight: 600;
  }
  .fencing-system-colors-parameters-value {
    font-weight: 200;
  }
  .fencing-system-products {
    h1 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .fencing-system-products-image-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .fencing-system-products-text {
    text-align: center;
  }
  .fencing-system-have-questions {
    background-color: $sushi;
    min-height: 300px;
    padding: 65px;
    margin-bottom: 25px;
  }
  .fencing-system-have-questions-operator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
  }
  .fencing-system-have-questions-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
  }
  .fencing-system-have-questions-title {
    color: $school-bus;
    @include font-size(22);
    text-transform: uppercase;
    font-weight: 600;
  }
  .fencing-system-have-questions-phone {
    color: $yellow-green;
    @include font-size(35);
    font-weight: 600;
  }
  .fencing-system-have-questions-time {
    color: rgba(254, 252, 255, 0.61);
    @include font-size(11);
    margin-bottom: 10px;
  }
  .fencing-system-have-questions-download {
    color: rgba(248, 250, 255, 0.51);
    a {
      color: rgba(248, 250, 255, 0.51);
    }
  }
  .fencing-system-have-questions-link {
    margin-left: 10px;
    cursor: pointer;
  }
  .fencing-system-have-questions-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
  }
  .fencing-system-have-questions-button {
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 300px;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    @include font-size(18);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #ffffff;
      margin-left: 10px;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .fencing-system-examples {
    margin-bottom: 25px;
    h1 {
      text-transform: uppercase;
      text-align: center;
    }
  }
  .fencing-system-examples-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .fencing-system-example-image-wrapper {
    position: relative;
    border: 1px solid #dddddd;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    img {
      width: 200px;
      height: 150px;
      cursor: pointer;
    }
  }
  .fencing-system-example-zoom {
    background: $wasabi;
    border-radius: 100%;
    bottom: 8px;
    color: #FFF;
    display: block;
    height: 30px;
    padding: 6px;
    position: absolute;
    right: 8px;
    text-align: center;
    width: 30px;
    cursor: pointer;
  }
  .fencing-system-description {
    h1 {
      text-align: center;
      margin-bottom: 25px;
    }
  }
  .fencing-system-description-applying {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .fencing-system-description-applying-image {
    margin: 15px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    padding: 15px;
    &:hover {
      transition: .5s;
      border-bottom: 5px solid $sushi;
    }
    &:not(:hover) {
      transition: 1s;
      border-bottom: 5px solid transparent;
    }
  }
  @include extra-small {
    .fencing-system-have-questions-title {
      @include font-size(15);
    }
    .fencing-system-have-questions-phone {
      @include font-size(22);
    }
    .fencing-system-have-questions-download {
      @include font-size(11);
    }
  }
  @include medium() {
    .fencing-system-colors-main-wrapper {
      &-left {
        justify-content: flex-end;
      }
      &-right {
        justify-content: flex-start;
      }
    }
  }
  @include extra-large() {
    .fencing-system-have-questions-button {
      width: 250px;
    }
  }
}