@import '../../colors';
@import '../../mixins';

#TerraceInstallationPage {
  .terrace-installation-manual {
    margin-bottom: 50px;
    h1 {
      text-transform: uppercase;
      text-align: center;
    }
  }
}