@import '../../../colors';
@import '../../../mixins';
@import '../../../media-queries';

#MainCarousel {
  .fa-caret-square-left, .fa-caret-square-right {
    @include small() {
      display: none;
    }
    position: absolute;
    top: 50%;
    @include font-size(35);
    color: $cod-gray;
  }
  .fa-caret-square-left {
    transform: translateX(-50%);
  }
  .carousel-indicators {
    li {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: $cod-gray;
    }
    .active {
      background-color: $wasabi;
    }
  }
  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    @include medium() {
      top: 35%;
      transform: translateY(-35%);
    }
    h3 {
      @include font-size(46);
      line-height: 1.2;
      font-weight: 800;
      text-transform: uppercase;
      color: $god_gray1;
      text-shadow: 4px 3px 0 #fff, 9px 8px 0 rgba(0,0,0,0.15);
    }
    @include large() {
      h3 {
        @include font-size(32);
      }
    }
    p {
      @include font-size(46);
      line-height: 1.2;
      font-weight: 600;
      color: $god_gray1;
      text-shadow: 1px 1px 0 #fff, 9px 8px 0 rgba(0,0,0,0.15);
    }
    @include large() {
      p {
        @include font-size(32);
      }
    }
  }
  .carousel-control {
    background-image: none;
  }
  @include small() {
    .item {
      img {
        min-height: 350px;
      }
    }
  }
}