// =============================================================================
// COLORS
// =============================================================================

$yellow-green : #c0d96b;
$sushi : #89b837;
$wasabi : #6c912b;
$sushi1 : #89b836;
$god-gray : #0e0e0e;
$god_gray1 : #171717;
$outer-space : #2e353e;
$min-shaft : #333333;
$abbey : #4d5055;
$boulder : #777777;
/*need #060606*/