// =============================================================================
// COLORS
// =============================================================================

$yellow-green : #c0d96b;
$sushi : #89b837;
$wasabi : #6c912b;
$sushi1 : #89b836;
$god-gray : #0e0e0e;
$god_gray1 : #171717;
$outer-space : #2e353e;
$min-shaft : #333333;
$min-shaft1 : #222222;
$abbey : #4d5055;
$boulder : #777777;
$cod-gray: #060606;
$emperor: #505050;
$shark: #1d2127;
$gallery: #ededed;
$dustyGray: #999999;
$alabaster: #f7f7f7;
$deco: #d1e2a9;
