// =============================================================================
// APP FONTS
// =============================================================================

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

// =============================================================================
// COLORS
// =============================================================================

$yellow-green : #c0d96b;
$sushi : #89b837;
$wasabi : #6c912b;
$sushi1 : #89b836;
$god-gray : #0e0e0e;
$god_gray1 : #171717;
$outer-space : #2e353e;
$min-shaft : #333333;
$abbey : #4d5055;
$boulder : #777777;


body {
  font-family: 'Open Sans', sans-serif;
}

.Page-title {
  text-transform: uppercase;
  font-weight: 700;
}
// =============================================================================
// Large Devices, Wide Screens
// =============================================================================

@media only screen and (max-width: 1200px) {}

// =============================================================================
// Medium Devices, Desktops
// =============================================================================

@media only screen and (max-width: 992px) {}

// =============================================================================
// Small Devices, Tablets
// =============================================================================

@media only screen and (max-width: 768px) {}

// =============================================================================
// Extra Small Devices, Phones
// =============================================================================

@media only screen and (max-width: 480px) {}

// =============================================================================
// Extra Small Devices, Phones
// =============================================================================

@media only screen and (max-width: 320px) {}