// =============================================================================
// APP FONTS
// =============================================================================
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import './colors';
@import './mixins';
@import './media-queries';

* {
  margin: 0;
  padding: 0;
}

html,
body, #root {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $boulder;
}

.page-title {
  text-transform: uppercase;
  font-weight: 700;
}

hr {
  background-image: linear-gradient(to right, transparent, #dbdbdb, transparent);
  border: 0;
  height: 1px;
  margin: 22px 0;
}

p {
  @include line-height(24);
  margin-bottom: 20px;
}

h1 {
  color: $shark;
  @include font-size(35);
  font-weight: 200;
  margin-bottom: 25px;
  &.header-accent {
    color: $sushi;
  }
}

h2 {
  color: $shark;
  /*@include font-size(35);*/
  font-weight: 200;
  &.header-accent {
    color: $sushi;
  }
}

h3 {
  color: $shark;
  @include font-size(23);
  font-weight: 200;
  @include line-height(32);
  &.header-accent {
    color: $sushi;
  }
}

h4 {
  color: $shark;
  /*@include font-size(23);*/
  font-weight: 200;
  &.header-accent {
    color: $sushi;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  @include medium() {
    padding-top: 20px;
  }
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}