// =============================================================================
// APP FONTS
// =============================================================================
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import './colors';
@import './mixins';

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $boulder;
}

.page-title {
  text-transform: uppercase;
  font-weight: 700;
}

hr {
  background-image: linear-gradient(to right, transparent, #dbdbdb, transparent);
  border: 0;
  height: 1px;
  margin: 22px 0;
}

p {
  @include line-height(24);
}

h1 {
  color: $shark;
  @include font-size(35);
  &.header-accent {
    color: $sushi;
  }
}

h2 {
  &.header-accent {
    color: $sushi;
  }
}

h3 {
  color: $shark;
  @include font-size(23);
  &.header-accent {
    color: $sushi;
  }
}

h4 {
  &.header-accent {
    color: $sushi;
  }
}

// =============================================================================
// Large Devices, Wide Screens
// =============================================================================

@media only screen and (max-width: 1200px) {
}

// =============================================================================
// Medium Devices, Desktops
// =============================================================================

@media only screen and (max-width: 992px) {
  .footer-second-logo {
    display: none;
  }
}

// =============================================================================
// Small Devices, Tablets
// =============================================================================

@media only screen and (max-width: 768px) {
}

// =============================================================================
// Extra Small Devices, Phones
// =============================================================================

@media only screen and (max-width: 480px) {
}

// =============================================================================
// Extra Small Devices, Phones
// =============================================================================

@media only screen and (max-width: 320px) {
}