@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
* {
  margin: 0;
  padding: 0; }

html,
body, #root {
  height: 100%; }

html {
  font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #777777; }

.page-title {
  text-transform: uppercase;
  font-weight: 700; }

hr {
  background-image: linear-gradient(to right, transparent, #dbdbdb, transparent);
  border: 0;
  height: 1px;
  margin: 22px 0; }

p {
  line-height: 1.5rem;
  margin-bottom: 20px; }

h1 {
  color: #1d2127;
  font-size: 2.1875rem;
  font-weight: 200;
  margin-bottom: 25px; }
  h1.header-accent {
    color: #89b837; }

h2 {
  color: #1d2127;
  /*@include font-size(35);*/
  font-weight: 200; }
  h2.header-accent {
    color: #89b837; }

h3 {
  color: #1d2127;
  font-size: 1.4375rem;
  font-weight: 200;
  line-height: 2rem; }
  h3.header-accent {
    color: #89b837; }

h4 {
  color: #1d2127;
  /*@include font-size(23);*/
  font-weight: 200; }
  h4.header-accent {
    color: #89b837; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }
  @media only screen and (max-width: 992px) {
    .content {
      padding-top: 20px; } }

.footer {
  flex: 0 0 auto; }
